name: CI Workflow - Heart Disease Project

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout: Ambil kodingan dari repo
    - name: Checkout Repository
      uses: actions/checkout@v3

    # 2. Setup Python: Siapkan Python di komputer runner
    - name: Set up Python 3.12.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.10"

    # 3. Install Library: Install dependencies via PIP
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0 pandas scikit-learn matplotlib seaborn

    # 4. Execute MLflow Project: Jalankan training
    - name: Run Model Training (Skilled)
      run: |
        mlflow run . --entry-point tuning --env-manager=local

    # 5. Upload Artifacts: Simpan hasil training
    - name: Upload MLflow Results
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-experiment-runs
        path: MLProject/mlruns
